@charset "UTF-8";
body {
	font-size : 14pt; 
	color : black; 
	line-height : 160%; 
}
table, tr, td{
	border-width:1px; 
	border-style: solid; 
	border-color: #113a08; 
	background-color:#a8ffc0;
}
td { 
	font-size : 14pt; 
	color : black; 
	line-height : 160%; 
}